/* Basic predefined css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #212121;
    color: #ffffff;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #00bcd4;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffc107;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Nav Container  */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}

.header {
    width: 100%;
    padding: 16px 0;
    background-color: rgba(33, 33, 33, 0.9);
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px); 
    border-bottom: 1px solid #333333;
    /* Animation Nav  */
    transform: translateY(-120%);
    transition: transform 2.9s cubic-bezier(.22,.9,.12,1);
}
  /* Animation Nav  */
.header.show {
    transform: translateY(0);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav_list {
    display: flex;
    gap: 2rem;
}

.nav_link {
    font-weight: 500;
    color: #ffffff;
}

.nav_link:hover {
    color: #00bcd4;
}

.nav_toggle {
  display: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
/* Main Section */
.hero {
    padding: 90px 0;
    background-color: #212121;
}

.hero_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.hero_content h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.hero_subtitle {
    font-size: 1.5rem;
    color: #00bcd4;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.hero_description {
    margin-bottom: 2rem;
    color: #bdbdbd;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background-color: #00bcd4;
    color: #212121;
    font-weight: 600;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #ffc107;
    color: #212121;
    transform: translateY(-4px);
}

.hero_image img {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #00bcd4;
    box-shadow: 0 0 25px rgba(0, 188, 212, 0.4);
}

/* Hero section Animation */
.hero_content, .hero_image {
    /* start me dono ko hide krne ke liye */
    opacity: 0;
    transform: translateX(0);
    transition: all 3.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* show class active hone ke baad visible hoga  */
.hero_content.show {
    opacity: 1;
    transform: translateX(0);
}

.hero_image.show {
    opacity: 1;
    transform: translateX(0);
}
/* left se aayega */
.hero_content {
    transform: translateX(-100px);  
}
 /* right se aayega */
.hero_image {
    transform: translateX(100px);  
}

/* Section For Multiple Style  */
.section {
    padding: 5rem 0;
}

.section_title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2.5rem;
    position: relative;
}

/* Underline effect for titles */
.section_title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 4px;
    background-color: #00bcd4;
    border-radius: 2px;
}

.section_text {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: #bdbdbd;
}

/* Skill Sction  */
#skills {
    background-color: #333333;
}

.skills_grid{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem;
    max-width: 800px;
    margin: 2rem auto 0;
}

.skill {
    background-color: #212121;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
    /* transform: translateY(-5px); */
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(196, 184, 184, 0.2);
}

.skill i {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #00bcd4;
    display: block;
}

/* Project-Section */
.projects_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}

.project_card {
    background-color: #333333;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.project_card:hover {
    /* transform: translateY(-10px); */
    transform: scale(1.07);
}

.project_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project_content {
    padding: 1.5rem;
}

.project_title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project_description {
    color: #bdbdbd;
    margin-bottom: 1rem;
}

.project_link {
    font-weight: 500;
    margin-right: 1.5rem;
}

.project_link i {
    margin-left: 0.3rem;
}

/* Contact Info Section */
#contact {
    background-color: #333333;
}

.contact_links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.contact_link {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
/* About, Skills, Projet and contact animation animation  */
.section {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1.5s ease-out;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

/* Footer  */
.footer {
    padding: 2rem 0;
    text-align: center;
    background-color: #212121;
    border-top: 1px solid #333333;
}

.footer p {
    color: #bdbdbd;
}

/* RSPONSIVE */

@media (max-width: 768px) {
   .nav_list {
    position: fixed;
    top: 0;
    right: -100%; /* hide off-screen */
    height: 100vh;
    width: 240px;
    background: rgba(17, 17, 17, 0.95);
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 2rem;
    transition: right 0.4s ease-in-out;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.4);
    z-index: 999;
  }

  .nav_list.show_menu {
    right: 0; /* slides into view */
  }

  .nav_toggle {
    display: block;
    z-index: 1000;
  }

  .nav_link {
    font-size: 1.2rem;
    color: #fff;
  }

  .nav_link:hover {
    color: #00bcd4;
  }

    .section {
        padding: 4rem 0;
    }

    /* .nav_list {
        display: none; 
    } */
    .hero_container {
        flex-direction: column;
        text-align: center;
    }
    .hero_content {
        order: 2; 
    }
    .hero_image {
        order: 1; 
        margin-bottom: 2rem;
    }
    .hero_image img {
        width: 280px;
        height: 280px;
    }
     .hero_content h1 {
        font-size: 2.8rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 1rem;
    }

    .section__title {
        font-size: 2rem;
    }

    .hero__content h1 {
        font-size: 2.2rem;
    }
}